extends basic-layout
block title
	title Edit Profile
block content-front
	body
		.container
			h1 Edit Profile
			.row.clearfix
				.col-md-12.column
					form(role='form', method='post', action='/account/#{username}/updateprofile')
						.form-group
							label(for='inputPassword') Password: 
							input#InputPassword.form-control(type='password', name='inputPassword', value='#{password}', required='')
						.form-group
							label(for='inputName') Name: 
							input#InputName.form-control(type='text', name='inputName', value='#{name}')
						.form-group
							label(for='inputHometown') Hometown: 
							input#InputHometown.form-control(type='text', name='inputHometown', value='#{hometown}')
						.form-group
							label(for='inputInterest') Interest: 
							input#InputInterest.form-control(type='text', name='inputInterest', value='#{interest}')
						.form-group
							label(for='inputCredit') Credit Card: 
							input#InputCredit.form-control(type='text', name='inputCredit', value='#{credit}')
						.form-group
							label(for='InputFile') File input
							input#InputFile(type='file', name='InputFile')
							p.help-block Example block-level help text here.
						button.btn.btn-default(type='submit') Submit
						if error
							.alert.alert-dismissable.alert-warning
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								h1 Your username has been used.