extends navibar-layout
block title
   title Project_main
block content-main
  body
    // main content
    .main-content
      .container
        .row
          .content.col-md-12
            .section-block
              .funding-meta     
                 h1 #{Pname} 
                   span.label.label-default   #{pstatus}    
                   span.label.label-success   #{rate}/5
                  .col-md-12
                    img.img-rounded(src='https://assets.entrepreneur.com/content/3x2/1300/20161114224458-shutterstock-212710381.jpeg', alt='Cinque Terre', width='900', height='400')
                  a.btn.btn-default(href='/pledge/' + pid + '/' + myusername, role='button') Help Funding
                  if is_like == '0' 
                    a.btn.btn-default(href='/project/like', role='button') Like
                  else
                    a.btn.btn-default(href='/project/dislike', role='button') Liked
                  if (user ==uid & pstatus == 'ongoing')
                     a.btn.btn-default(href='/project/close/' + pid , role='button') Close Project
                  h2 Donation progress ($#{current_amount} of total $#{max_fund})
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuemax=100, style = 'width:#{donate_percent}')| #{donate_percent}
                 
               
              
            // tabs
            .section-block
              .section-tabs
                ul.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#about', aria-controls='about', role='tab', data-toggle='tab') About
                  li(role='presentation')
                    a(href='#updates', aria-controls='updates', role='tab', data-toggle='tab') Updates
                  li(role='presentation')
                    a(href='#comments', aria-controls='comments', role='tab', data-toggle='tab') Comments
                  if pstatus == 'completed'
                    li(role='presentation')
                      a(href='#rate', aria-controls='rate', role='tab', data-toggle='tab') Rate
            // /tabs
            // tab panes
            .section-block
              .tab-content
                #about.tab-pane.active(role='tabpanel')
                  .about-information
                    h1.section-title ABOUT LAUNCH
                    p #{des}
                   
                #updates.tab-pane(role='tabpanel')
                  .update-information
                    h1.section-title UPDATES
                    // update items
                    .update-post
                      h4.update-title We've started shipping!
                      span.update-date Posted 2 days ago
                      p Suspendisse luctus at massa sit amet bibendum. Cras commodo congue urna, vel dictum velit bibendum eget. Vestibulum quis risus euismod, facilisis lorem nec, dapibus leo. Quisque sodales eget dolor iaculis dapibus. Vivamus sit amet lacus ipsum. Nullam varius lobortis neque, et efficitur lacus. Quisque dictum tellus nec mi luctus imperdiet. Morbi vel aliquet velit, accumsan dapibus urna. Cras ligula orci, suscipit id eros non, rhoncus efficitur nisi.
                      h2 16:9 Responsive Aspect Ratio
                      .embed-responsive.embed-responsive-16by9
                      iframe.embed-responsive-item(src='//www.youtube.com/embed/ePbKGoIGAXY')
                      
                 #comments.tab-pane(role='tabpanel')
                   .comment-information             
                     h1.section-title COMMENTS
                     for infor in info
                       span.comment-title Posted on #{infor.date}
                       p #{infor.comment}
                       h5.comment-title #{infor.cuid}
                     h4 Leave a Comment:
                     form#usrform(action='/project/' + pid + '/comment',method = 'get')
                       textarea(class="form-control", rows='3', name='comment', form='usrform')
                       button.btn.btn-success(type='submit') Submit
                       br
                 if pstatus == 'completed'
                 #rate.tab-pane(role='tabpanel')
                   .rate-information
                     .col-md-5
                       h2 Please rate the project:
                     .col-md-7
                       nav(aria-label='Page navigation')
                         ul.pagination.pagination-lg
                           li
                             a(href='/project/rate/' + pid + '/1') 1
                           li
                             a(href='/project/rate/' + pid + '/2') 2
                           li
                             a(href='/project/rate/' + pid + '/3') 3
                           li      
                             a(href='/project/rate/' + pid + '/4') 4
                           li
                             a(href='/project/rate/' + pid + '/5') 5
                     
                     
                     
                      
                     

                     
                    

  