extends navibar-layout
block title
   title My Account
block content-main
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | #{username}
              - console.log(user.guest);
              - console.log(user.followed);
              if user.guest == 'true'
                if user.followed == 'true'
                  a.btn.btn-default(href='/account/#{username}/unfollow/#{location}', role='button') Unfollow
                else
                  - console.log(location);
                  a.btn.btn-default(href='/account/#{username}/follow/#{location}', role='button') Follow
      .row.clearfix
        .col-md-3.column
          h1 Menu List
          .list-group
            a.list-group-item(href='/account/#{username}/information') My Account
            a.list-group-item(href='/account/#{username}/projects') My Projects
            a.list-group-item(href='/account/#{username}/following') My Following
            a.list-group-item(href='/account/#{username}/follower') My Follower
            a.list-group-item(href='/account/#{username}/pledges') My Pledges
            a.list-group-item(href='/account/#{username}/comments') My Comments
            a.list-group-item(href='/account/#{username}/likes') My Likes
            a.list-group-item(href='/account/#{username}/rates') My Rates
        .col-md-5.column
          //- console.log(projects);
          //- console.log(following); 
          //- console.log(follower);
          //- console.log(req.session.user);
          //- var location;
          if information
            //- location = 'information';
            for informations in information
              h1 Information
              dt Username:
              dd #{informations['uid']}
              dt Name:
              dd #{informations['name']}
              dt Hometown:
              dd #{informations['hometown']}
              dt Interests:
              dd #{informations['interest']}
              if user.guest == 'false'
                dt Credit Card Number:
                dd #{informations['credit_card']}
                a.btn.btn-default(href='/account/#{username}/editprofile', role='button') Edit
          else if projects
            //- location = 'project';
            h1 Projects
            p
              a(href='/project/postpage')
                button.btn.btn-default(type='button') Post a New Project
            if projects != 'No Results'
                for project,i in projects
                  .col-md-4.column
                    img.card-img-top(src='https://assets.entrepreneur.com/content/3x2/1300/20161114224458-shutterstock-212710381.jpeg',width='150', height='150', alt='Card image cap')
                    .card-block
                    h4.card-title #{project['pname']}
                    p.card-text #{project['description']}
                    a.btn.btn-primary(href='/project/' + project['pid'] + '/' + myusername) View
            else
              h4 You have no Project.
          else if following
            //- location = 'following';
            h1 Following
            if following != 'No Results'
              for user2 in following
                .col-md-4.column
                  .media
                    .media-left.media-left
                      a(href='/account/'+user2['fuid2']+'/information')
                        img.media-object(src='...', alt='...')
                      .media-body
                        h4.media-heading #{user2['fuid2']}
            else
              h4 You are not following anyone.
          else if follower
            //- location = 'follower';
            h1 Followers
            if follower != 'No Results'
              for user1 in follower
                .col-md-4.column
                  .media
                    .media-left.media-left
                      a(href='/account/'+user1['fuid1']+'/information')
                        img.media-object(src='...', alt='...')
                      .media-body
                        h4.media-heading #{user1['fuid1']}
            else
              h4 You have no follower.
          else if pledge
            //- location = 'pledge';
            h1 Pledges
            if pledges != 'No Results'
                  for pledges,i in pledge
                    .col-md-4.column
                      img.card-img-top(src='https://assets.entrepreneur.com/content/3x2/1300/20161114224458-shutterstock-212710381.jpeg',width='150', height='150', alt='Card image cap')
                      .card-block
                      h4.card-title #{pledges['pname']}
                      p.card-text #{pledges['description']}
                      p.card-text Amount: $ #{pledges['amount']}
                      p.card-text #{pledges['date']}
                      a.btn.btn-primary(href='/project/' + pledges['pid'] + '/' + myusername) View
            else
              h4 You have no pledges.
          else if comment
            //- location = 'comment';
            h1 Comments
            if comment != 'No Results'
              for comments,i in comment
                li
                  | Make comment on 
                  a(href='#') #{comments['pname']}
                  br
                  | content: #{comments['comments']}
                  br
                  p #{comments['date']}
            else
              h4 You have no comment.
          else if like
            //- location = 'like';
            h1 Likes
            if like != 'No Results'
                for likes,i in like
                  .col-md-4.column
                    img.card-img-top(src='https://assets.entrepreneur.com/content/3x2/1300/20161114224458-shutterstock-212710381.jpeg',width='150', height='150', alt='Card image cap')
                    .card-block
                    h4.card-title #{likes['pname']}
                    p.card-text #{likes['description']}
                    a.btn.btn-primary(href='/project/' + likes['pid'] + '/' + myusername) View
            else
              h4 You have no like.
          else if rate
            //- location = 'rate';
            h1 Rates
            if rate != 'No Results'
                for rates,i in rate
                  .col-md-4.column
                    img.card-img-top(src='https://assets.entrepreneur.com/content/3x2/1300/20161114224458-shutterstock-212710381.jpeg',width='150', height='150', alt='Card image cap')
                    .card-block
                    h4.card-title #{rates['pname']}
                    p.card-text #{rates['description']}
                    p.card-text Score: #{rates['score']}
                    a.btn.btn-primary(href='/project/' + rates['pid'] + '/' + myusername) View
            else
              h4 You have no rate.
          else
            //- location = 'information';
            h1 No elements
        .col-md-4.column
          h1 Recent Messages
          - console.log(recent);
          for recents in recent
              li
                a(href='#') #{recents['buid']}
                if recents['behave'] == 'comment'
                  | makes a comment on
                else
                  | #{recents['behave']}
                a(href='#') #{recents['bpid']}
                span #{recents['bdate']}


                    
    