extends navibar-template
block title
   title Account
block content
      .row.clearfix
        .col-md-3.column
          h1 Menu List
          .list-group
            a.list-group-item(href='/myaccount') My Account
            a.list-group-item(href='/myaccount/projects') My Projects
            a.list-group-item(href='/myaccount/following') My Following
            a.list-group-item(href='/myaccount/follower') My Follower
            a.list-group-item(href='/myaccount/pledges') My Pledges
            a.list-group-item(href='/myaccount/comments') My Comments
            a.list-group-item(href='/myaccount/likes') My Likes
            a.list-group-item(href='/myaccount/rates') My Rates
        .col-md-9.column
          //- console.log(projects);
          //- console.log(following); 
          //- console.log(follower);
          if information
            h1 Information
            dt Username:
            dd #{information.username}
            dt Name:
            dd #{information.name}
            dt Hometown:
            dd #{information.hometown}
            dt Interests:
            dd #{information.interests}
            dt Credit Card Number:
            dd #{information.credit}
          else if projects
            h1 Projects
            //- console.log('session: '+session);
            #panel-783993.panel-group
              #display-panel
                for project in projects
                  .panel.panel-default
                    .panel-heading
                      a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#'+project.name) #{project.name}
                    div(id = project.name, class = 'panel-collapse.in')
                      .panel-body
                        | #{project.description}
          else if following
            h1 Following
            for user2 in following
              .col-md-4.column
                .media
                  .media-left.media-left
                    a(href='#')
                      img.media-object(src='...', alt='...')
                    .media-body
                      h4.media-heading #{user2.name}
                      |     ...
          else if follower
            h1 Followers
            for user1 in follower
              .col-md-4.column
                .media
                  .media-left.media-left
                    a(href='#')
                      img.media-object(src='...', alt='...')
                    .media-body
                      h4.media-heading #{user1.name}
                      |     ...

          else if pledge
            h1 Pledges
            #panel-783993.panel-group
              #display-panel
                for project in pledge
                  .panel.panel-default
                    .panel-heading
                      a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#'+project.name) #{project.name}
                    div(id = project.name, class = 'panel-collapse.in')
                      .panel-body
                        | #{project.description}
          else if comment
            h1 Comments
            //- console.log('session: '+session);
            #panel-783993.panel-group
              #display-panel
                for comments,i in comment
                  .panel.panel-default
                    .panel-heading
                      a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#comment'+i) #{comments.date}
                    div(id = 'comment'+i, class = 'panel-collapse.in')
                      .panel-body
                        h4 #{comments.pname}
                        | #{comments.comment}
          else if like
            h1 Likes
            //- console.log('session: '+session);
            #panel-783993.panel-group
              #display-panel
                for likes,i in like
                  .panel.panel-default
                    .panel-heading
                      a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#like'+i) #{likes.pname}
                    div(id = 'like'+i, class = 'panel-collapse.in')
                      .panel-body
                        | #{likes.description}
          else if rate
            h1 Rates
            //- console.log('session: '+session);
            #panel-783993.panel-group
              #display-panel
                for rates,i in rate
                  .panel.panel-default
                    .panel-heading
                      a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#rates'+i) #{rates.pname}
                    div(id = 'rates'+i, class = 'panel-collapse.in')
                      .panel-body
                        h4 #{rates.description}
                        h4 #{rates.score}
          else
            h1 No elements


                    
    