extends navibar-layout
block title
   title My Account
block content-main
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | #{username}
              - console.log(user.guest);
              - console.log(user.followed);
              if user.guest == 'true'
                if user.followed == 'true'
                  a.btn.btn-default(href='/account/#{username}/unfollow/#{location}', role='button') Unfollow
                else
                  - console.log(location);
                  a.btn.btn-default(href='/account/#{username}/follow/#{location}', role='button') Follow
      .row.clearfix
        .col-md-3.column
          h1 Menu List
          .list-group
            a.list-group-item(href='/account/#{username}/information') My Account
            a.list-group-item(href='/account/#{username}/projects') My Projects
            a.list-group-item(href='/account/#{username}/following') My Following
            a.list-group-item(href='/account/#{username}/follower') My Follower
            a.list-group-item(href='/account/#{username}/pledges') My Pledges
            a.list-group-item(href='/account/#{username}/comments') My Comments
            a.list-group-item(href='/account/#{username}/likes') My Likes
            a.list-group-item(href='/account/#{username}/rates') My Rates
        .col-md-5.column
          //- console.log(projects);
          //- console.log(following); 
          //- console.log(follower);
          //- console.log(req.session.user);
          //- var location;
          if information
            //- location = 'information';
            for informations in information
              h1 Information
              dt Username:
              dd #{informations['uid']}
              dt Name:
              dd #{informations['name']}
              dt Hometown:
              dd #{informations['hometown']}
              dt Interests:
              dd #{informations['interest']}
              if user.guest == 'false'
                dt Credit Card Number:
                dd #{informations['credit_card']}
                a.btn.btn-default(href='/account/#{username}/editprofile', role='button') Edit
          else if projects
            //- location = 'project';
            h1 Projects
            p
              a(href='/project/post')
                button.btn.btn-default(type='button') Post a New Project
            if projects != 'No Results'
              #panel-783993.panel-group
                #display-panel
                  for project,i in projects
                    .panel.panel-default
                      .panel-heading
                        a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#project'+i) #{project['pname']}
                      div(id = 'project'+i, class = 'panel-collapse.in')
                        .panel-body
                          | #{project['description']}
                          p
                            a(herf='#') Details
            else
              h4 You have no Project.
          else if following
            //- location = 'following';
            h1 Following
            if following != 'No Results'
              for user2 in following
                .col-md-4.column
                  .media
                    .media-left.media-left
                      a(href='/account/'+user2['fuid2']+'/information')
                        img.media-object(src='...', alt='...')
                      .media-body
                        h4.media-heading #{user2['fuid2']}
                        |     ...
            else
              h4 You are not following anyone.
          else if follower
            //- location = 'follower';
            h1 Followers
            if follower != 'No Results'
              for user1 in follower
                .col-md-4.column
                  .media
                    .media-left.media-left
                      a(href='/account/'+user1['fuid1']+'/information')
                        img.media-object(src='...', alt='...')
                      .media-body
                        h4.media-heading #{user1['fuid1']}
                        |     ...
            else
              h4 You have no follower.
          else if pledge
            //- location = 'pledge';
            h1 Pledges
            if pledges != 'No Results'
              #panel-783993.panel-group
                #display-panel
                  for pledges,i in pledge
                    .panel.panel-default
                      .panel-heading
                        a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#pledges'+i) #{pledges['pname']}
                      div(id = 'pledges'+i, class = 'panel-collapse.in')
                        .panel-body
                          | #{pledges['description']}
            else
              h4 You have no pledges.
          else if comment
            //- location = 'comment';
            h1 Comments
            if comment != 'No Results'
              #panel-783993.panel-group
                #display-panel
                  for comments,i in comment
                    .panel.panel-default
                      .panel-heading
                        a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#comment'+i) #{comments['date']}
                      div(id = 'comment'+i, class = 'panel-collapse.in')
                        .panel-body
                          h4 #{comments['pname']}
                          | #{comments['comments']}
            else
              h4 You have no comment.
          else if like
            //- location = 'like';
            h1 Likes
            if like != 'No Results'
              #panel-783993.panel-group
                #display-panel
                  for likes,i in like
                    .panel.panel-default
                      .panel-heading
                        a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#like'+i) #{likes['pname']}
                      div(id = 'like'+i, class = 'panel-collapse.in')
                        .panel-body
                          | #{likes['description']}
            else
              h4 You have no like.
          else if rate
            //- location = 'rate';
            h1 Rates
            if rate != 'No Results'
              #panel-783993.panel-group
                #display-panel
                  for rates,i in rate
                    .panel.panel-default
                      .panel-heading
                        a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#rates'+i) #{rates['pname']}
                      div(id = 'rates'+i, class = 'panel-collapse.in')
                        .panel-body
                          h4 #{rates['description']}
                          h4 #{rates['score']}
            else
              h4 You have no rate.
          else
            //- location = 'information';
            h1 No elements
        .col-md-4.column
          h1 Recent Messages
          - console.log(recent);
          for recents in recent
              li
                a(href='#') #{recents['buid']}
                if recents['behave'] == 'comment'
                  | makes a comment on
                else
                  | #{recents['behave']}
                a(href='#') #{recents['bpid']}
                span #{recents['bdate']}


                    
    